name: Pull Request Against Develop
run-name: ${{ github.actor }} is creating a change to `develop`.
on:
  pull_request:
    branches:
    - develop
jobs:
  tests:
    name: Unit Tests
    runs-on: macos-15
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      REPOSITORY_NAME: ${{ github.event.repository.name }}
      DANGER_GITHUB_API_TOKEN: ${{secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Unit Tests
        run: bundle exec fastlane unit_test
